.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.search-bar {
    margin: 20px 0;
}

.feed {
    width: 50%;
    border: 1px solid #e0e0e0;
    padding: 20px;
    margin-top: 20px;
}

.left-sidebar {
    width: 20%;
    padding: 20px;
    position: fixed;
    left: 0;
    top: 20px;
    min-height: 100vh;
}
.right-sidebar {
    width: 20%;
    padding: 20px;
    position: fixed;
    right: 0;
    top: 20px;
    min-height: 100vh;
}

.login-buttons {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}
.notification-item {
    cursor: pointer;
}
.notification-title {
    cursor: pointer;
    text-decoration: underline;
}
